/* Customer Listing Page */
body{
    background-color: #fff;
}
.featured{
    background-color: #fcfafa;
    padding: 10px;
}

.regular{
    background-color: #fcfafa;
    padding: 10px;
}
.primary-color{
    background-color: purple;
    color: #fff;
}

#sidebar{
    height: 700px;
    width: 100%;
    background-color: #fff;
}
