body{
    background-color: #fff;
}
.featured{
    background-color: #f5fffd;
    padding: 10px;
}

.regular{
    background-color: #f5fffd;
    padding: 10px;
}
.primary-color{
    background-color: #22e3b6;
}

hr{
    
}

/* Customer Detail Page */
.detail_page{

}